.contenido {
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    letter-spacing: 1px;
}

    h1 {
        font-family: 'Ramabhadra', sans-serif;
        font-size: 7rem;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px rgb(0, 0, 0);
        letter-spacing: 3px;
        margin: 0 auto;
        transition: all 0.5s ease-in;
    }
        
    h2 {
        color: rgb(207, 207, 207);
        font-size: 1.5rem;
        text-align: right;
    }

    h3 {
        color: rgb(126, 126, 126);
        text-align: left;
        font-size: 1.1rem;
    }

        h3 span {
            color: white;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px, 0 0 0.3em, 0 0;
            letter-spacing: 3px;
        }

    .efecto span {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
    }

    @keyframes caret {
        40% {
          border-color: transparent;
        }
    }

/* Button */
.btn {
    background-color: #1f1f23;
    color: rgb(240, 240, 240);
    font-family: 'Muli', sans-serif;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    margin: 5em auto 0 auto;
    transition: all 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

    .btn:focus {
        outline: 0;
    }

    .btn:hover {
        background-color: white;
        color: #1f1f23;
        cursor: pointer;
        letter-spacing: 5px;
        transform: translateY(-9px);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    }
    
@media screen and (max-width: 800px) {
    .contenido h1 {
        font-size: 60px;
    }
 
    .contenido h2 {
        font-size: 15px;
    }

    .contenido h3 {
        text-align: center;
        font-size: 13px;
    }
    
    .btn {
        margin: 10em auto 0 auto;
    }
}